.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(132, 163, 163); */
    /* background-color: linear-gradient(90deg, rgba(132, 163, 163, 1) 0%, rgba(179, 212, 212, 1) 100%); */
    background-color: rgb(245, 234, 226);
    padding: 1rem 2.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.06);
    flex-wrap: wrap;
    gap: 1rem;
}

#brand,
.nav-center,
.nav-right {
    font-size: 1.2rem;
    flex: 1 1 200px;
    color: slategray
}

#brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-right {
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;

}