.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgb(74, 47, 27) 0%,
        rgb(95, 60, 35) 100%
    );
    padding: 1rem 2.5rem;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.15),
        0 10px 20px rgba(0, 0, 0, 0.12);
    flex-wrap: wrap;
    gap: 1rem;
}

#brand,
.nav-center,
.nav-right {
    font-size: 1.2rem;
    flex: 1 1 200px;
    color: rgb(245, 230, 200);
}

#brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-center {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.nav-right {
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;

}